.game-title{
  text-align: center;
}
.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 0px solid #000;
  background-color: salmon;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color:greenyellow;
  border: 1px solid #000;
  z-index: 2;
}
.snake-dot:last-child{
  background-color:green;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background:red;
  border: 1px solid #000;
  z-index: 1;
}